<a href="https://colab.research.google.com/github/david5421/IS_170_Binder/blob/Feature-engineering-Lab2/Homework2_feature_engineering_Bautista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('homeless_impact.csv')
df.head()

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,NaN,NaN,NaN,NaN,NaN
1,Stanislaus County,2022-03-25,NaN,NaN,NaN,NaN,NaN
2,Butte County,2022-04-01,25.0,NaN,NaN,NaN,NaN
3,Yolo County,2022-04-01,65.0,64.0,NaN,NaN,NaN
4,Solano County,2022-03-25,NaN,NaN,NaN,NaN,NaN

In [ ]:
df1 = df.dropna()
df1

Empty DataFrame
Columns: [county, date, rooms, rooms_occupied, trailers_requested, trailers_delivered, donated_trailers_delivered]
Index: []

In [ ]:
import numpy as np

In [ ]:
df = pd.read_csv('homeless_impact.csv')
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,NaN,NaN,NaN,NaN,NaN
1,Stanislaus County,2022-03-25,NaN,NaN,NaN,NaN,NaN
2,Butte County,2022-04-01,25.0,NaN,NaN,NaN,NaN
3,Yolo County,2022-04-01,65.0,64.0,NaN,NaN,NaN
4,Solano County,2022-03-25,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.0,68.0,NaN,NaN,NaN
18723,Yuba County,2022-01-19,NaN,NaN,NaN,NaN,NaN
18724,Wilton Rancheria Tribe,2022-01-19,NaN,NaN,NaN,NaN,NaN
18725,Bishop Paiute Tribal Council,2022-01-19,NaN,NaN,NaN,NaN,NaN
18726,Hoopa Valley Tribe,2022-01-19,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(df.isnull().sum())

county                            0
date                              0
rooms                          6386
rooms_occupied                 7741
trailers_requested            12605
trailers_delivered            13955
donated_trailers_delivered    18170
dtype: int64

In [ ]:
df.fillna(value=0.0, inplace=True)
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,0.0,0.0,0.0,0.0,0.0
1,Stanislaus County,2022-03-25,0.0,0.0,0.0,0.0,0.0
2,Butte County,2022-04-01,25.0,0.0,0.0,0.0,0.0
3,Yolo County,2022-04-01,65.0,64.0,0.0,0.0,0.0
4,Solano County,2022-03-25,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.0,68.0,0.0,0.0,0.0
18723,Yuba County,2022-01-19,0.0,0.0,0.0,0.0,0.0
18724,Wilton Rancheria Tribe,2022-01-19,0.0,0.0,0.0,0.0,0.0
18725,Bishop Paiute Tribal Council,2022-01-19,0.0,0.0,0.0,0.0,0.0
18726,Hoopa Valley Tribe,2022-01-19,0.0,0.0,0.0,0.0,0.0

In [ ]:
df=pd.read_csv("homeless_impact.csv")
df['county']=df['county'].fillna(value=0)
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,NaN,NaN,NaN,NaN,NaN
1,Stanislaus County,2022-03-25,NaN,NaN,NaN,NaN,NaN
2,Butte County,2022-04-01,25.0,NaN,NaN,NaN,NaN
3,Yolo County,2022-04-01,65.0,64.0,NaN,NaN,NaN
4,Solano County,2022-03-25,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.0,68.0,NaN,NaN,NaN
18723,Yuba County,2022-01-19,NaN,NaN,NaN,NaN,NaN
18724,Wilton Rancheria Tribe,2022-01-19,NaN,NaN,NaN,NaN,NaN
18725,Bishop Paiute Tribal Council,2022-01-19,NaN,NaN,NaN,NaN,NaN
18726,Hoopa Valley Tribe,2022-01-19,NaN,NaN,NaN,NaN,NaN

In [ ]:
df=pd.read_csv("homeless_impact.csv")
df['date']=df['date'].fillna(value=0)
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,NaN,NaN,NaN,NaN,NaN
1,Stanislaus County,2022-03-25,NaN,NaN,NaN,NaN,NaN
2,Butte County,2022-04-01,25.0,NaN,NaN,NaN,NaN
3,Yolo County,2022-04-01,65.0,64.0,NaN,NaN,NaN
4,Solano County,2022-03-25,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.0,68.0,NaN,NaN,NaN
18723,Yuba County,2022-01-19,NaN,NaN,NaN,NaN,NaN
18724,Wilton Rancheria Tribe,2022-01-19,NaN,NaN,NaN,NaN,NaN
18725,Bishop Paiute Tribal Council,2022-01-19,NaN,NaN,NaN,NaN,NaN
18726,Hoopa Valley Tribe,2022-01-19,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['rooms_occupied']=df['rooms_occupied'].fillna(value=0)
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,NaN,0.0,NaN,NaN,NaN
1,Stanislaus County,2022-03-25,NaN,0.0,NaN,NaN,NaN
2,Butte County,2022-04-01,25.0,0.0,NaN,NaN,NaN
3,Yolo County,2022-04-01,65.0,64.0,NaN,NaN,NaN
4,Solano County,2022-03-25,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.0,68.0,NaN,NaN,NaN
18723,Yuba County,2022-01-19,NaN,0.0,NaN,NaN,NaN
18724,Wilton Rancheria Tribe,2022-01-19,NaN,0.0,NaN,NaN,NaN
18725,Bishop Paiute Tribal Council,2022-01-19,NaN,0.0,NaN,NaN,NaN
18726,Hoopa Valley Tribe,2022-01-19,NaN,0.0,NaN,NaN,NaN

In [ ]:
df=pd.read_csv("homeless_impact.csv")
df['trailers_requested']=df['trailers_requested'].fillna(value=0)
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,NaN,NaN,0.0,NaN,NaN
1,Stanislaus County,2022-03-25,NaN,NaN,0.0,NaN,NaN
2,Butte County,2022-04-01,25.0,NaN,0.0,NaN,NaN
3,Yolo County,2022-04-01,65.0,64.0,0.0,NaN,NaN
4,Solano County,2022-03-25,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.0,68.0,0.0,NaN,NaN
18723,Yuba County,2022-01-19,NaN,NaN,0.0,NaN,NaN
18724,Wilton Rancheria Tribe,2022-01-19,NaN,NaN,0.0,NaN,NaN
18725,Bishop Paiute Tribal Council,2022-01-19,NaN,NaN,0.0,NaN,NaN
18726,Hoopa Valley Tribe,2022-01-19,NaN,NaN,0.0,NaN,NaN

In [ ]:
df=pd.read_csv("homeless_impact.csv")
df['trailers_delivered']=df['trailers_delivered'].fillna(value=0)
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,NaN,NaN,NaN,0.0,NaN
1,Stanislaus County,2022-03-25,NaN,NaN,NaN,0.0,NaN
2,Butte County,2022-04-01,25.0,NaN,NaN,0.0,NaN
3,Yolo County,2022-04-01,65.0,64.0,NaN,0.0,NaN
4,Solano County,2022-03-25,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.0,68.0,NaN,0.0,NaN
18723,Yuba County,2022-01-19,NaN,NaN,NaN,0.0,NaN
18724,Wilton Rancheria Tribe,2022-01-19,NaN,NaN,NaN,0.0,NaN
18725,Bishop Paiute Tribal Council,2022-01-19,NaN,NaN,NaN,0.0,NaN
18726,Hoopa Valley Tribe,2022-01-19,NaN,NaN,NaN,0.0,NaN

In [ ]:
df=pd.read_csv("homeless_impact.csv")
df['donated_trailers_delivered']=df['donated_trailers_delivered'].fillna(value=0)
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,NaN,NaN,NaN,NaN,0.0
1,Stanislaus County,2022-03-25,NaN,NaN,NaN,NaN,0.0
2,Butte County,2022-04-01,25.0,NaN,NaN,NaN,0.0
3,Yolo County,2022-04-01,65.0,64.0,NaN,NaN,0.0
4,Solano County,2022-03-25,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.0,68.0,NaN,NaN,0.0
18723,Yuba County,2022-01-19,NaN,NaN,NaN,NaN,0.0
18724,Wilton Rancheria Tribe,2022-01-19,NaN,NaN,NaN,NaN,0.0
18725,Bishop Paiute Tribal Council,2022-01-19,NaN,NaN,NaN,NaN,0.0
18726,Hoopa Valley Tribe,2022-01-19,NaN,NaN,NaN,NaN,0.0

In [ ]:
df=pd.read_csv("homeless_impact.csv")
mean_values=df[['rooms','rooms_occupied']].mean()
print(mean_values)

rooms             350.480917
rooms_occupied    257.710359
dtype: float64

In [ ]:
df=pd.read_csv("homeless_impact.csv")
mean_values=df[['trailers_requested','trailers_delivered',]].mean()
print(mean_values)

trailers_requested    77.722476
trailers_delivered    80.606664
dtype: float64

In [ ]:
df=pd.read_csv("homeless_impact.csv")
mean_values=df['donated_trailers_delivered'].mean()
print(mean_values)

16.481149012567325

In [ ]:
df[['rooms','rooms_occupied']]=df[['rooms','rooms_occupied']].fillna(value=df[['rooms','rooms_occupied']].mean())
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,350.480917,257.710359,NaN,NaN,NaN
1,Stanislaus County,2022-03-25,350.480917,257.710359,NaN,NaN,NaN
2,Butte County,2022-04-01,25.000000,257.710359,NaN,NaN,NaN
3,Yolo County,2022-04-01,65.000000,64.000000,NaN,NaN,NaN
4,Solano County,2022-03-25,350.480917,257.710359,NaN,NaN,NaN
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.000000,68.000000,NaN,NaN,NaN
18723,Yuba County,2022-01-19,350.480917,257.710359,NaN,NaN,NaN
18724,Wilton Rancheria Tribe,2022-01-19,350.480917,257.710359,NaN,NaN,NaN
18725,Bishop Paiute Tribal Council,2022-01-19,350.480917,257.710359,NaN,NaN,NaN
18726,Hoopa Valley Tribe,2022-01-19,350.480917,257.710359,NaN,NaN,NaN

In [ ]:
df[['trailers_requested','trailers_delivered']]=df[['trailers_requested','trailers_delivered']].fillna(value=df[['trailers_requested','trailers_delivered']].mean())
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,350.480917,257.710359,77.722476,80.606664,NaN
1,Stanislaus County,2022-03-25,350.480917,257.710359,77.722476,80.606664,NaN
2,Butte County,2022-04-01,25.000000,257.710359,77.722476,80.606664,NaN
3,Yolo County,2022-04-01,65.000000,64.000000,77.722476,80.606664,NaN
4,Solano County,2022-03-25,350.480917,257.710359,77.722476,80.606664,NaN
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.000000,68.000000,77.722476,80.606664,NaN
18723,Yuba County,2022-01-19,350.480917,257.710359,77.722476,80.606664,NaN
18724,Wilton Rancheria Tribe,2022-01-19,350.480917,257.710359,77.722476,80.606664,NaN
18725,Bishop Paiute Tribal Council,2022-01-19,350.480917,257.710359,77.722476,80.606664,NaN
18726,Hoopa Valley Tribe,2022-01-19,350.480917,257.710359,77.722476,80.606664,NaN

In [ ]:
df[['donated_trailers_delivered']]=df[['donated_trailers_delivered']].fillna(value=df[['donated_trailers_delivered']].mean())
df

,county,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered
0,Madera County,2022-03-25,350.480917,257.710359,77.722476,80.606664,16.481149
1,Stanislaus County,2022-03-25,350.480917,257.710359,77.722476,80.606664,16.481149
2,Butte County,2022-04-01,25.000000,257.710359,77.722476,80.606664,16.481149
3,Yolo County,2022-04-01,65.000000,64.000000,77.722476,80.606664,16.481149
4,Solano County,2022-03-25,350.480917,257.710359,77.722476,80.606664,16.481149
...,...,...,...,...,...,...,...
18722,Yolo County,2022-01-19,65.000000,68.000000,77.722476,80.606664,16.481149
18723,Yuba County,2022-01-19,350.480917,257.710359,77.722476,80.606664,16.481149
18724,Wilton Rancheria Tribe,2022-01-19,350.480917,257.710359,77.722476,80.606664,16.481149
18725,Bishop Paiute Tribal Council,2022-01-19,350.480917,257.710359,77.722476,80.606664,16.481149
18726,Hoopa Valley Tribe,2022-01-19,350.480917,257.710359,77.722476,80.606664,16.481149

In [ ]:
print()

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

label = le.fit_transform(df['county'])

label

array([21, 51,  4, ..., 58,  3, 12])

In [ ]:
df.drop("county", axis=1, inplace=True)


df["county"] = label

df

,date,rooms,rooms_occupied,trailers_requested,trailers_delivered,donated_trailers_delivered,county
0,2022-03-25,350.480917,257.710359,77.722476,80.606664,16.481149,21
1,2022-03-25,350.480917,257.710359,77.722476,80.606664,16.481149,51
2,2022-04-01,25.000000,257.710359,77.722476,80.606664,16.481149,4
3,2022-04-01,65.000000,64.000000,77.722476,80.606664,16.481149,59
4,2022-03-25,350.480917,257.710359,77.722476,80.606664,16.481149,49
...,...,...,...,...,...,...,...
18722,2022-01-19,65.000000,68.000000,77.722476,80.606664,16.481149,59
18723,2022-01-19,350.480917,257.710359,77.722476,80.606664,16.481149,60
18724,2022-01-19,350.480917,257.710359,77.722476,80.606664,16.481149,58
18725,2022-01-19,350.480917,257.710359,77.722476,80.606664,16.481149,3
18726,2022-01-19,350.480917,257.710359,77.722476,80.606664,16.481149,12

In [ ]:
old_cols=df.columns.values
new_cols=['date','trailers_requested','trailers_delivered','donated_trailers_delivered','rooms','rooms_occupied','county']
df=df.reindex(columns=new_cols)
df

,date,trailers_requested,trailers_delivered,donated_trailers_delivered,rooms,rooms_occupied,county
0,2022-03-25,77.722476,80.606664,16.481149,350.480917,257.710359,21
1,2022-03-25,77.722476,80.606664,16.481149,350.480917,257.710359,51
2,2022-04-01,77.722476,80.606664,16.481149,25.000000,257.710359,4
3,2022-04-01,77.722476,80.606664,16.481149,65.000000,64.000000,59
4,2022-03-25,77.722476,80.606664,16.481149,350.480917,257.710359,49
...,...,...,...,...,...,...,...
18722,2022-01-19,77.722476,80.606664,16.481149,65.000000,68.000000,59
18723,2022-01-19,77.722476,80.606664,16.481149,350.480917,257.710359,60
18724,2022-01-19,77.722476,80.606664,16.481149,350.480917,257.710359,58
18725,2022-01-19,77.722476,80.606664,16.481149,350.480917,257.710359,3
18726,2022-01-19,77.722476,80.606664,16.481149,350.480917,257.710359,12

In [ ]:
print(df.rename(columns={'trailers_requested':'requested_trailers','rooms_occupied':'occupied_rooms'}))

             date  requested_trailers  trailers_delivered  \
0      2022-03-25           77.722476           80.606664
1      2022-03-25           77.722476           80.606664
2      2022-04-01           77.722476           80.606664
3      2022-04-01           77.722476           80.606664
4      2022-03-25           77.722476           80.606664
...           ...                 ...                 ...
18722  2022-01-19           77.722476           80.606664
18723  2022-01-19           77.722476           80.606664
18724  2022-01-19           77.722476           80.606664
18725  2022-01-19           77.722476           80.606664
18726  2022-01-19           77.722476           80.606664

       donated_trailers_delivered       rooms  occupied_rooms  county
0                       16.481149  350.480917      257.710359      21
1                       16.481149  350.480917      257.710359      51
2                       16.481149   25.000000      257.710359       4
3                       16.481149   65.000000       64.000000      59
4                       16.481149  350.480917      257.710359      49
...                           ...         ...             ...     ...
18722                   16.481149   65.000000       68.000000      59
18723                   16.481149  350.480917      257.710359      60
18724                   16.481149  350.480917      257.710359      58
18725                   16.481149  350.480917      257.710359       3
18726                   16.481149  350.480917      257.710359      12

[18727 rows x 7 columns]